{% extends "base.html.twig" %}

{% block title %}
	Game Component | {{ product.name }}
{% endblock %}
{% block body %}
	<div className="container" id="product_view"></div>
	{{ encore_entry_script_tags('product_view') }}
{% endblock %}
