{% extends "base.html.twig" %}
{% block title %}Game Component | Catégories
{% endblock %}
{% block body %}
	<div class="container" id="categories"></div>
	{{ encore_entry_script_tags('categories') }}
{% endblock %}
