<form method="post" action="{{ path('commande_delete', {'id': commande.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette commande?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.id) }}">
	<button class="btn btn-danger">
		<i class="fas fa-trash"></i>
    </button>
</form>
