{% extends 'backOffice/base.html.twig' %}

{% block title %}Edit Commande{% endblock %}

{% block body %}
    <h1>Edit Commande</h1>

    {{ include('./commande/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('commands_index') }}">back to list</a>

{% endblock %}
