{% extends 'backOffice/base.html.twig' %}

{% block title %}Edit Commande{% endblock %}

{% block body %}
    <div class="container bg-light">
    <h1 class="text-center">Modificitation du commande</h1>

    {{ include('./commande/_form.html.twig', {'button_label': 'Update'}) }}
</div>

{% endblock %}
