{% extends "backOffice/base.html.twig" %}
{% block title %}Game Component | Produits
{% endblock %}
{% block body %}
	<div id="back_products"></div>
	{{ encore_entry_script_tags('back_products') }}
{% endblock %}
