{% extends "backOffice/base.html.twig" %}

{% block title %}
	Game Component | {{ product.name }}
{% endblock %}

{% block body %}
<div className="container" id="back_product_view"></div>
{{ encore_entry_script_tags('back_product_view') }}
{% endblock %}
