{% extends "base.html.twig" %}

{% block title %}Annulation paiement{% endblock %}

{% block body %}
	<div class="container">
		<h1>Thanks for your order!</h1>
		<p>
			We appreciate your business! But it's failed !
			<a href="mailto:orders@example.com">orders@example.com</a>.
		</p>
	</div>
{% endblock %}
