{% extends "base.html.twig" %}

{% block title %}Confirmation paiement{% endblock %}

{% block body %}
	<div class="container bg-light">
		<div class="text-center">
			<h1>Paiement accepté !</h1>
			<p>
				Panier acheté !
			</p>
		</div>
	</div>
{% endblock %}
