{% extends "base.html.twig" %}

{% block title %}Confirmation paiement{% endblock %}

{% block body %}
	<div class="container">
		<h1>Paiement accepté !</h1>
		<p>
			Panier acheté !
		</p>
	</div>
{% endblock %}
