{% extends 'backOffice/base.html.twig' %}

{% block body %}
<h1>Gestion des utilisateurs </h1>
	<table>
		<tr>
			<th>Nom</th>
			<th>Prénom</th>
			<th>Email</th>
			<th>Téléphone</th>
		</tr>
		{% for user in users %}
			<tr>
				<td>{{user.lastName}}</td>
				<td>{{user.name}}</td>
				<td>{{user.email}}</td>
				<td>{{user.phone}}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
