{% extends 'backOffice/base.html.twig' %}

{% block body %}
<h1>Gestion des utilisateurs </h1>
	<div className="container" id="back_users"></div>
	{{ encore_entry_script_tags('back_users') }}
{% endblock %}
